*.swp
/*.swo
/*.tmp
/*.ugly
/*.beautiful
/*.patched
/*.rej
/*.bundled
/*.log
*lighthouse.*
entryNo.js
entryYes.js
requireNo.js
requireYes.js
targetYes.js
standaloneNo.js
standaloneYes.js
exportsYes.js
screenshot.png
node_modules
