/*.swp
/*.swo
/*.tmp
/*.beautified
assert.js
tmp.js
browserified-require.js
browserified-standalone.js
browserified-standalone-require.js
browserified-standalone-target.js
browserified.js
browserified-target.js
entryNo.js
entryYes.js
requireNo.js
requireYes.js
standaloneNo.js
standaloneYes.js
targetYes.js
