*.swp
*.swo
*.ugly
*.beautiful
*.patched
*.rej
*.bundled
*.log
*.diff
*lighthouse.*
*tmp-browserify*
entryNo.js
entryYes.js
requireNo.js
requireYes.js
targetYes.js
standaloneNo.js
standaloneYes.js
exportsYes.js
screenshot.png
node_modules/
